.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  width: 300px;
  height: 200px;
  background-color: #dddddd;
  border: 7px #5a1f1f;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ddd;
}

p {
  font-size: 32px;
  font-style: italic;
}
